<div class="comment_form">
{{ form_start(form) }}
<div class="form-group">
    {{ form_widget(form.body) }}
</div>
<input type="submit" value="{{ button_label| default('button.addComment.value'|trans) }}"
       class="btn btn-default btn-primary" />
{{ form_end(form) }}
</div>

<script>
    function addCommentRate(entity, id) {
        var url = {{ path('add_rate', {id: }) }} '?id=' + id + 'entityString' + entity;
        $.ajax({
            url: url,
            success: function () {
                
            }
        })
    }

</script>