<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default('default_title')|trans }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <style>
        #login_box {
            width: 400px;
            margin: 7% auto auto auto;
            border-radius: 10px;
            padding: 0 2em 2em 2em;
            border: 1px solid black;
            background-color: white;

        }
        body {
            background-color: black;
        }
    </style>
    {% block styles %}
    {% endblock %}
</head>
<body>

    <div id="login_box">
        <div class="page-header">
            <h2 class="text-center">{{ title|default('default_title')|trans }}</h2>
        </div>
        <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            &nbsp;
            <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</body>
</html>